# Build files
build
build/
Debug/
Release/
tools/luasocket/.vs
tools/luasocket/test
*.exe
!protoc.exe
*.dll
*.lib
*.obj
*.log

# IDE
.vs/
.vscode/
*.user
*.suo

# Conan
generators/
conaninfo.txt
conanbuildinfo.*
CMakeUserPresets.json
